<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="getaquote" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>BSD_Getaquote</label>
            <tab>general</tab>
            <resource>BSD_Getaquote::getaquote</resource>

            <group id="recaptcha_settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>reCAPTCHA Settings</label>
                
                <field id="site_key" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Site Key</label>
                    <comment>Enter your reCAPTCHA site key here.</comment>
                </field>

                <field id="secret_key" translate="label" type="password" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Secret Key</label>
                    <comment>Enter your reCAPTCHA secret key here.</comment>
                </field>

                <field id="siteverify_url" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Site Verify URL</label>
                    <comment>URL for verifying reCAPTCHA response. Default: https://www.google.com/recaptcha/api/siteverify</comment>
                </field>

                <field id="script_url" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Recaptcha Call URL</label>
                    <comment>URL for loading reCAPTCHA script. Default: https://www.google.com/recaptcha/api.js?render=your_site_key</comment>
                </field>
            </group>

            <group id="email" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Email Options</label>
                <field id="recipient" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Send Emails To</label>
                    <validate>validate-email</validate>
                </field>
                <field id="sender" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>
                <field id="template" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Template</label>
                    <comment>Email template chosen based on theme fallback when "Default" option is selected.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
            </group>
            <group id="email_reply" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Reply To Customer</label>
                    <field id="subject" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Subject</label>
                        <comment>Enter The Subject Of The Email</comment>
                    </field>
                    <field id="body" translate="label" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Message</label>
                        <comment>Enter The Body Of The Email</comment>
                    </field>
            </group>

        </section>
    </system>
</config>
