<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\App\Response\Http">
        <plugin name="bsd_performance_html_minify"
                type="BSD\Performance\Plugin\ResponseHtmlMinify"
                sortOrder="9999"/>
    </type>
</config>
