<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <getaquote>
            <email>
                <recipient>
                    <![CDATA[hello@example.com]]>
                </recipient>
                <sender>custom2</sender>
                <template>getaquote_email_template</template>
            </email>
            <email_reply>
                <subject>BSD Getaquote</subject>
                <body>Quote Received ...</body>
            </email_reply>

        </getaquote>
    </default>
</config>
