<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_place_after">
        <observer name="bsd_ghl_order_place_after" instance="BSD\GoHighLevel\Observer\OrderPlaceAfter" />
    </event>
    <event name="model_save_after">
        <observer name="bsd_ghl_getaquote_save_after" instance="BSD\GoHighLevel\Observer\GetaquoteSaveAfter" />
    </event>
    <event name="newsletter_subscriber_save_commit_after">
        <observer name="bsd_ghl_newsletter_subscriber_save_after" instance="BSD\GoHighLevel\Observer\NewsletterSubscriberSaveAfter" />
    </event>
</config>
