<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="aalogics" translate="label" sortOrder="500">
            <label>Aalogics</label>
        </tab>
        <section id="google_reviews" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Google Customer Reviews</label>
            <tab>aalogics</tab>
            <resource>Aalogics_GoogleReviews::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable or disable the Google Customer Reviews module</comment>
                </field>
                <field id="merchant_id" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Merchant ID</label>
                    <comment>Enter your Google Merchant ID</comment>
                     <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <!-- Add dependency for merchant_id field -->
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="estimated_delivery_date" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Estimated Delivery Date</label>
                    <comment>Enter the estimated delivery date</comment>
                     <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <!-- Add dependency for estimated_delivery_date field -->
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
