<?xml version="1.0"?>
<!--
/**
 * MagePrince
 * Copyright (C) 2020 BSD <info@quickbuy.com>
 *
 * @package BSD_QuickBuy
 * @copyright Copyright (c) 2020 BSD (http://www.quickbuy.com/)
 * @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
 * @author MagePrince <info@quickbuy.com>
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="BSD_QuickBuy::config" title="Quickbuy Setting" sortOrder="50" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
